OPENAI_API_KEY = ENTER_OPENAI_API_HERE
ANTHROPIC_API_KEY = ENTER_ANTHROPIC_API_HERE
GEMINI_API_KEY = ENTER_GOOGLE_API_HERE
DIGITALOCEAN_API_KEY= ENTER_DIGITALOCEAN_API_HERE
CLUSTER_ID= ENTER_CLUSTER_ID_HERE
POD_NAME= ENTER_POD_NAME_HERE