OPENAI_API_KEY = ENTER_OPENAI_API_HERE
ANTHROPIC_API_KEY = ENTER_ANTHROPIC_API_HERE
GEMINI_API_KEY = ENTER_GOOGLE_API_HERE

LITELLM_PRICING_JSON_URL = https://raw.githubusercontent.com/BerriAI/liteLLM/main/model_prices_and_context_window.json