# -------------------------
# Python
# -------------------------
__pycache__/

# -------------------------
# FastAPI / Uvicorn / Logs
# -------------------------
*.log
*.sqlite3
*.db

# -------------------------
# Test & Coverage
# -------------------------
.pytest_cache/

# -------------------------
# Environment & Secrets
# -------------------------
.env
.env.*

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# OS Files
# -------------------------
.DS_Store

# -------------------------
# Project-specific
# -------------------------
CACHEDIR.TAG
