# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc

# -------------------------
# FastAPI / Uvicorn / Logs
# -------------------------
*.log
*.sqlite3
*.db

# -------------------------
# Test & Coverage
# -------------------------
.pytest_cache/
dummy_api.py

# -------------------------
# Environment & Secrets
# -------------------------
.env

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# OS Files
# -------------------------
.DS_Store

# -------------------------
# Virtual environment
# -------------------------
.venv/

# -------------------------
# Project-specific
# -------------------------
CACHEDIR.TAG
src/.cache/
__pycache__/
