# [endpoint]
fastapi
uvicorn
pydantic
anyio
python-dotenv
PyJWT

# [providers]
openai
google-genai
anthropic

# [database / semantic cache]
asyncpg
pgvector
sentence-transformers

# [Observability]
prometheus-fastapi-instrumentator
prometheus-client
