# [endpoint]
fastapi
uvicorn
pydantic
anyio
python-dotenv

# [providers]
openai
google-genai
anthropic

# [semantic cache]
asyncpg
pgvector
numpy

# [Observability]
prometheus-fastapi-instrumentator
# [test]
pytest
pytest-asyncio
pytest-cov
httpx
